.container {
    padding: 50px;
}

.table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.table {
    width: 100%;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.mat-column-QuotaId {
    width: 25px;
}