<div class="container">
    <div *ngIf="dataSource.data.length === 0" class="center">
        <mat-spinner></mat-spinner>
        <h1 class="mtop-3rem mat-headline-4">Page is Loading...</h1>
    </div>
    <div *ngIf="dataSource.data.length > 0">
        <mat-form-field>
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <ng-container matColumnDef="StorageId">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Storage </th>
                <td mat-cell *matCellDef="let row"> {{row.StorageId}} </td>
              </ng-container>

              <ng-container matColumnDef="QuotaPath">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> QuotaPath </th>
                <td mat-cell *matCellDef="let row"> {{row.QuotaPath}} </td>
              </ng-container>

              
              <ng-container matColumnDef="QuotaUsed">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> QuotaUsed </th>
                <td mat-cell *matCellDef="let row"> {{row.QuotaUsed}} </td>
              </ng-container>

              
              <ng-container matColumnDef="QuotaHard">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> QuotaHard </th>
                <td mat-cell *matCellDef="let row"> {{row.QuotaHard}} </td>
              </ng-container>
                
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>
    </div>
</div>